@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #222;
}

.sidebar-panel {
    position:  fixed;
    display: block;
    margin: 0;
    padding:  0;
    width: 200px;
    background: #111;
    line-height: 24px;
    min-height: 100%;
}

.panel:first-child {
    margin-top: 40px;
}

.panel {
    margin-bottom:  20px;
}

a.side-panel-link {
    color:  #ddd;
    text-decoration:  none;
    display:  block;
    line-height: 24px;
    font-family:  'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px 15px;
}

a.side-panel-link:hover {
    color: #fff;
}

a.side-panel-link:focus {
    border-left: 2px solid #12bd59;
}

p.panel-option-header {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:  2px;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 15px;
}

i.fa.fa-plus {
    border:  1px solid #ddd;
    padding: 0 1px;
    border-radius: 50%;
    margin-right: 5px;
}

.player-fixed {
    display:  block;
    position: fixed;
    bottom:  0;
    left:  0;
    right:  0;
    height: 80px;
    line-height:  80px;
    background: #333;
    width:  100%;
    z-index: 999;
}

.main-container {
    margin-left:  200px;
    margin-bottom: 80px;
}

.fixed-header {
    background: #000;
    position:  fixed;
    padding: 10px;
    border-bottom: 1px solid #1DB954;
    top: 0;
    left: 200px;
    right:  0;
    z-index: 999;
}

.search-bar {
    float:  left;
    margin: 0 15px;
}

input[type="text"].search-box {
    padding: 9px;
    border:  none;
    outline: none;
    vertical-align:  middle;
    float:  left;
}

button.search-btn {
    width: 50px;
    outline:  none;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor:  pointer;
    background: #1DB954;
    padding: 8px;
    vertical-align:  middle;
    margin-left: -3px;
}

.search-btn i.fa.fa-search {
    color: #fff;
    font-size: 16px;
}

button.search-btn:hover {
    background: #1eca65;
}

.user-account {
    float: right;
    margin: 0 15px;
}

.user-dropdown-menu {
    vertical-align:  middle;
    padding: 8px;
}

span.user-profile {
    color: #333;
    position: relative;
    float:  left;
    display:  block;
    padding: 4px;
}

a.user-profile-link {
    color: #eee;
    padding: 0px 20px;
    vertical-align:  middle;
    font-size: 14px;
    font-family:  'Open Sans', sans-serif;
    text-decoration:  none;
}

a.user-profile-link:hover {
    color: #fff;
}

.dropdown {
    position:  relative;
    float:  left;
    display:  block;
    padding: 3px;
}

button.dropbtn {
    padding: 0 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    background: #ffffff;
    color: #000000;
}

i.fa.fa-angle-down {
    font-size: 24px;
}

button.dropbtn:hover,
button.dropbtn:focus {
    background: #eeeeee;
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 1;
    overflow: auto;
    width: 150px;
    right: 3px;
}

a.display-block-style {
    display: block;
    position: relative;
    padding-top: 10px;
    padding-bottom:  10px;
    color: #000;
}

.display-block-style:hover{
    background: #111111;
}

.show {
    display: block;
}

.container-inside {
    padding: 30px;
    padding-top: 70px;
    min-height:  100%;
    display: inline-block;
    position: relative;
}

.container-inside2 {
    padding: 30px;
    padding-top: 70px;
    min-height:  100%;
    position: relative;
}

.header-text {
    margin-bottom:  20px;
}

.heading-category-text,
.heading-all-text {
    text-align: left;
    color: #ffffff;
    font-family:  'Open Sans', sans-serif;
    font-size:  30px;
    font-weight: 700;
    letter-spacing: 1px;
}

.col-xs-4 {
    width: 17%;
    position:  relative;
    display: block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.col-xs-4 a img {
    width: 100%;
    height:  auto;
    clear: both;
    vertical-align:  middle;
    cursor:  pointer;
    float:  left;
    overflow:  hidden;
}

span.music-list-span {
    width:  100%;
    position:  absolute;
    top: 0;
    bottom:  0;
    left:  0;
    right:  0;
    line-height: 200px;
    text-align:  center;
    font-family:  'Open Sans', sans-serif;
    color: #000;
}

span.music-list-span:hover {
    display: block;
    background: rgba(0,0,0,0.9);
    font-family:  'Open Sans', sans-serif;
    letter-spacing:  2px;
    color: #ffffff;
    transition: ease 0.2s;
}

.header-for-all {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    display: grid;
    position: relative;
}

.cover-img-container {
    width: 20%;
}

.header-img-container {
    width: 180px;
    height: 180px;
    position: relative;
    float: left;
    border: 1px solid #000;
    border-radius: 3px;
    overflow:  hidden;
}

.header-img {
    width: 100%;
    clear: both;
}

.header-img-title {
    float: left;
    position: relative;
}

.text-container {
    width: 80%;
    position: relative;
    float: right;
}

.heading-category-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.album-text,
.genre-text,
.year-text {
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 24px;
}

form.edit-form {
    width:  50%;
    padding: 0 15px;
}

.form-group {
    margin-bottom: 15px;
}

label.control-label {
    display:  inline-block;
    max-width:  100%;
    margin-bottom:  5px;
    color: #eee;
    font-family:  'Open Sans', sans-serif;
    font-weight:  bold;
}

input.form-control {
    display:  block;
    width:  100%;
    height: 34px;
    padding:  6px 12px;
    font-size:  14px;
    outline:  none;
    background:  #fff;
    line-height: 1.42857143;
    color: #555;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="file"] {
    border: none;
    background: none;
}

input.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type="file"]:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.change-password-div {
    margin: 20px 0;
    margin-top: 40px;
}

.change-password-heading{
    color: #ffe4a1;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.pass-content {
    width: 50px;
    height: 2px;
    background: #ffc200;
    outline:  none;
    border:  none;
}
.change-photo-text {
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', serif;
    font-weight: 700;
}

input.btn {
    padding: 8px 12px;
    color:  #000;
    outline:  none;
    border-radius:  4px;
    background:  #fff;
    border:  none;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
    margin-top: 5px;
}

input.btn.btn-save {
    border-bottom: 2px solid #099;
}

input.btn.btn-update {
    border-bottom: 2px solid #00991b;
}

input.btn.btn-delete {
    border-bottom: 2px solid #e23535;
}

input.btn.btn-save:hover {
    background: #099;
    color: #ffffff;
    transition: 0.2s;
    border: none;
}

input.btn.btn-update:hover {
    background: #00991b;
    color: #ffffff;
    transition: 0.2s;
    border: none;
}

input.btn.btn-delete:hover {
    background: #e23535;
    color: #ffffff;
    transition: 0.2s;
    border: none;
}

.back-to-prev > a {
    font-size:  16px;
    padding: 5px 15px;
    background:  #ffffff;
    text-decoration:  none;
    border-radius:  4px;
    color: #099;
    font-family:  'Open Sans', sans-serif;   
    font-weight:  400;  
    border-bottom: 2px solid #099;
}

.back-to-prev > a:hover {
    background: #099;
    color: #ffffff;
    transition: 0.2s;
}


/* responsive design */
@media (max-width: 800px) {
.panel:first-child {
    margin-top: 0px;
}
.panel {
    margin-bottom: 0px;
}
.sidebar-panel {
    position: inherit;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #111;
    line-height: 24px;
    min-height: 100%;
}

a.side-panel-link {
    position: relative;
    box-sizing: border-box;
    color: #ddd;
    text-decoration: none;
    width: 100%;
    display: block;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 5px 15px;
    border-bottom: 1px solid #000;
}
.main-container {
    margin-left: 0;
    margin-bottom: 80px;
}
.fixed-header {
    background: #000;
    position: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #1DB954;
    margin-top:  0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.text-container {
    position: relative;
    float: none;
}
form.edit-form {
    width: 100%
}
.search-bar {
    float: none;
    margin: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.user-account {
    float: none;
    width: 100%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    position: inherit;
    z-index: 999;
    overflow: hidden;
}
    span.user-profile {
        color: #333;
        position: relative;
        float: left;
        display: none;
        padding: 4px;
    }
    input[type="text"].search-box {
        padding: 9px;
        border: none;
        outline: none;
        width: 200px;
        vertical-align: middle;
        float: left;
    }
    .dropdown {
        position: relative;
        float: left;
        display: block;
        padding: 3px;
    }
    button.search-btn {
        width: 50px;
        outline: none;
        border-radius: 0 5px 5px 0;
        border: none;
        cursor: pointer;
        background: #1DB954;
        padding: 8px;
        vertical-align: middle;
        margin-left: -3px;
    }
    button.dropbtn {
        display: block;
    }
    i.fa.fa-angle-down {
        display: none;
    }
    .dropdown {
        position: inherit;
        float: none;
        display: block;
        padding: 0;
    }
    .dropdown-content {
        display: block;
        position: relative;
        background: #ffffff;
        z-index: 1;
        overflow: auto;
        width: 100%;
        right: 0;
    }
    .container-inside2 {
        padding: 30px;
        padding-top: 20px;
        min-height: 100%;
        position: relative;
    }
}