* {
    box-sizing: border-box;
}

.row {
    width:  100%;
}

/* music list page */

table.music-list {
    width:  100%;
    text-align:  center;
    border: none;
    display:  table;
    border-spacing:  inherit;
    border-collapse: separate;
}

tr.music-list-table-header {
    background: #000;
}

th.no-change-list {
    padding: 10px 5px;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:  2px;
    font-weight: 400;
    font-size: 14px;
    width:  auto;
}

tr.music-list-table {
    background: #101010;
}

td.music-list-shade {
    padding: 10px;
}

.play-pause-header {
    width: 40px;
}

td.music-list-shade,
td.music-list-shade a,
td.option-title,
td.option-title a {
    text-decoration: none;
    color:  #ccc;
    font-family:  'Comfortaa', cursive;
    font-size: 12px;
    cursor: pointer;
}

td.music-list-shade a:hover,
td.option-title a:hover {
    color: #099;
}

td.music-title {
    text-align: left;
}


/* details page */

table.music-info {
    width:  50%;
    border: none;
    padding: 40px;
}

tr {
    width:  100%;
}

td.title-desc {
    width: 160px;
    font-family:  'Open Sans', sans-serif;
    color: #cccccc;
    line-height:  30px;
    font-size: 13px;
    letter-spacing:  1px;
    text-align:  right;
    padding-right: 25px;
    font-weight: 600;
    border-right: 1px solid #333;
}

td.value-desc {
    font-family:  'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding-left: 15px;
    letter-spacing:  1px;
    font-weight:  400;
    line-height: 30px;
    text-align: left;
}

td.edit-btn {
    padding: 20px 0;
    text-align: right;
    padding-right: 25px;
    line-height:  30px;
}

td.back-to-prev {
    padding: 20px 0;
    text-align: left;
    padding-left: 15px;
    line-height:  30px;
}

td.edit-btn > a,
td.back-to-prev > a {
    font-size:  16px;
    padding: 5px 15px;
    background:  #ffffff;
    text-decoration:  none;
    border-radius:  4px;
    color: #099;
    font-family:  'Open Sans', sans-serif;   
    font-weight:  400;  
    border-bottom: 2px solid #099;
}

td.edit-btn > a:hover,
td.back-to-prev > a:hover {
    background: #099;
    color: #ffffff;
    transition: 0.2s;
}

.album-art-details {
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin-bottom: 5px;   
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,1);
}

img.img-details {
    width: 100%;
}

.album-name{
    background: black;
    color: white;
    height: 50px;
    width: 20%;
    letter-spacing: 3px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

table.contact-info {
    width: 100%;
    border: none;
    background: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #005555;
    border-collapse: collapse;
}

tr.table-head {
    background: #eee;
}

tr.table-data:hover {
    background: #ddf1ff;
    cursor: text;
}
.table-head th {
	padding: 10px;
}

td.tbl-data {
    text-align: left;
    padding: 10px;
    display: block;
    float: left;
}

td#msg-no {
    width: 10%;
    text-align: center;
}

td#msg-sender {
    width: 20%;
}

td#msg-subject {
    width: 40%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td#msg-action {
    width: 10%;
    text-align: center;
}

.page-navigation a {
    margin: 10px 1px;
    display: block;
    float:  left;
    color: #ffffff;
    background-color: #000000;
    border-radius: 4px;
    text-decoration: none;
    width:  40px;
    height:  40px;
    line-height:  40px;
    text-align:  center;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.page-navigation a[data-selected] {
	background-color: #3d9be0;
}

.msg-ui {
    background: #eeeeee;
    padding: 20px;
    box-sizing:  border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    display: -webkit-box;

}

.msg-ui-part {
    width: 600px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing:  border-box;
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
}

.btn-container {
    display:  block;
    position:  relative;
    float: left;
    padding: 0px 20px;
}

.msg-header {
    box-sizing: border-box;
    background: #ffffff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #dddddd;
}

.msg-subject {
    box-sizing: border-box;
    padding: 10px;
}


h2 {
    color: #666666;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.msg-email {
    color: #006d6d;
    letter-spacing: 2.433px;
    padding: 5px 10px;
    background: #edfffd;
    border-radius: 3px;
    border: 1px solid #eee;
}

.msg-sender {
    color: #666666;
    padding: 5px 10px;
    letter-spacing: 1.4px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

div.msg-date {
    padding: 5px 10px;
    text-align: right;
}

div.msg-date p {
    font-size: 13px;
    letter-spacing: 2px;
}

div.msg-body {
    padding: 20px;
    overflow: scroll;
    max-height: 400px;
    background: #fff;
}

div.msg-body p {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 24px;
}

.btn-msg-body {
    text-decoration: none;
    background: #000;
    display: block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #F44336;
    font-size: 18px;
    border-radius: 3px;
}

.btn-msg-body:hover {
    background: #111;
}

@media (max-width: 912px ) {
    .msg-ui {
        display: block;
    }

    .msg-ui-part {
        width: 100%;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        position: relative;
        float: none;
        overflow: hidden;
    }

    .btn-container {
        display: block;
        position: relative;
        float: none;
        padding: 20px 20px;
    }
}