<!DOCTYPE html>
<html>
<head>
	<title>Home | Music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/views/headphones.png">
	<link rel="stylesheet" type="text/css" href="/views/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="main-body" id="main-body">
	<div class="header">
		<a href="/" class="home-link">
			<div class="header-title">
				<h2>Luv Music</h2>
			</div>
		</a>
		<div class="signin-signup">
			<a href="/signin">Sign in</a>
			<a href="/signup">Sign up</a>
		</div>
		<div class="nav-bar">
			<ul class="list-style-type">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/faq">Faq</a></li>
			</ul>
		</div>
	</div>
	<div class="main-container">
		<div class="container-text">
			<h4>Listen Unlimited Music</h4>
			<h4>Create Your Own Playlists</h4>
		</div>
		<div class="music-image">
			<img src="/views/img/the-beatles.jpg" class="image-slide-show">
		</div>
	</div>
	<div class="footer">
		<p>Copyright &copy; 2018, <a href="/">Luv Music</a></p>
	</div>
</body>
</html>