<!DOCTYPE html>
<html>
<head>
	<title>Browse Songs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/views/player/css/style.css">
	<link rel="stylesheet" type="text/css" href="/views/player/css/stylePlayer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <!-- <script src="/galleria/galleria-1.5.7.min.js"></script> -->
      <!-- <script type='text/javascript' src='/javascripts/page.js'></script> -->
      <!-- <link rel="stylesheet" href="/stylesheets/page.css"> -->
	<!-- javascript link -->
	<script src="/views/player/js/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.1/Dropbox-sdk.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.1/Dropbox-sdk.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.1/DropboxTeam-sdk.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/4.0.1/DropboxTeam-sdk.min.js"></script>
</head>
<body>
    <!-- Sidebar Panel -->
    <% include ../include/sidebar %>

    <!-- Fixed Player -->
    <% include ../include/player_ui %>
	
	<!-- Main Content -->
	<div class="main-container">
		<!-- Fixed Header -->
		<% include ../include/fixed_header %>
		<div class="container-inside">
			<div class="header-text">
				<h3 class="heading-all-text">Browse</h3>
				<hr>
			</div>
			<div class="content-pane">
				<div class="row">
                    <!-- <% musics.forEach(function(music) { %>
                        <audio src="<%= music %>" id="myaudio" controls>FileName</audio>
                    <% }); %> -->

                    <% for(var i=0; i < musics.length; i++) { %>
                        <a href="<%= musics[i][0] %>" style="color: #fff; padding: 10px; text-decoration: none; margin-right: 1px; background: #000; border-radius: 3px"> <%= musics[i][1] %> </a>
                    <% } %>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<script src="/views/player/js/player.js"></script>
</html>