<div class="fixed-header">
	<form class="search-bar" method="GET" action="/browse/songs">
		<input class="search-box" type="text" name="search" placeholder="Song name...">
		<input class="search-btn" type="submit" id="search" value="Search">
	</form>
	<div class="user-account">
		<span class="user-profile">
			<a id="profile-link" class="user-profile-link" href="/profile/">
				<i class="fa fa-user"></i> Profile</a>
		</span>
		<div class="dropdown">
			<button onclick="dropdown()" class="dropbtn">
				<i class="fa fa-angle-down"></i> 
			</button>
			<div class="dropdown-content" id="dropDown">
				<a class="user-profile-link display-block-style" href="/profile">
					<i class="fa fa-user-circle"></i> Account</a>
				<a class="user-profile-link display-block-style" href="/setting">
					<i class="fa fa-gear"></i> Setting</a>
				<a class="user-profile-link display-block-style" id="signout" href="#">
					<i class="fa fa-sign-out"></i> Logout</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<script>
	$("#search").submit(function(e) {
	   	return false;
	});
	
	$("#signout").click(function(event){
		$.ajax({
			method: 'GET',
			url: '/auth/signout'
		}).done(function(response){
			// alert('Signed out' + user.email);
			// console.log(response);
			window.location.replace('/');
		}).fail(function(response){
			console.log(response);
			
		});
	});
</script>