<div class="sidebar-panel">
    <div class="panel">
        <a class="side-panel-link" href="/browse">Browse</a>
    </div>
    <div class="panel">
        <p class="panel-option-header">LIBRARY</p>
        <a class="side-panel-link" href="/browse/songs">Songs</a>
        <a class="side-panel-link" href="/browse/albums">Album</a>
        <a class="side-panel-link" href="/browse/songs">Artist</a>
        <a class="side-panel-link" href="/browse/faq">Faq</a>
    </div>
    <div class="panel">
        <% if(request.user.username == 'admin') { %>
            <p class="panel-option-header" style="display: block;" >ADMIN</p>
            <a class="side-panel-link" style="display: block;" href="/edit">Add Music</a>
            <a class="side-panel-link" style="display: block;" href="/admin/contacts">Messages</a>
        <% } %>
    </div>
</div>