<div class="sidebar-panel">
    <div class="panel">
        <a class="side-panel-link" href="/browse">Browse</a>
    </div>
    <div class="panel">
        <p class="panel-option-header">LIBRARY</p>
        <a class="side-panel-link" href="/browse/songs">Songs</a>
        <a class="side-panel-link" href="/browse/songs">Album</a>
        <a class="side-panel-link" href="/browse/songs">Artist</a>
    </div>
    <div class="panel">
        <p class="panel-option-header">PLAYLIST</p>
        <a class="side-panel-link" href="/edit">Edit</a>
        <a class="side-panel-link" href="#"><i class="fa fa-plus"></i>New Playlist</a>
    </div>
</div>