<!DOCTYPE html>
<html>
<head>
	<title>FAQ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/views/player/css/style.css">
	<link rel="stylesheet" type="text/css" href="/views/player/css/stylePlayer.css">
	<link rel="stylesheet" type="text/css" href="/views/player/css/tableStyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/views/player/css/faqReset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/views/player/css/faqStyle.css"> <!-- Resource style -->
	<!-- javascript link -->
	<script src="/views/player/js/script.js"></script>

</head>
<body class="faqBody">
	<!-- Sidebar Panel -->
	<% include include/sidebar %>
	
	<!-- Music Player -->
	<% include include/player_ui %>
		
	<!-- Main Content -->
	<div class="main-container">
		<% include include/fixed_header %>
		
    <div class="container-inside2">
  			<div class="header-text">
  				<h3 class="heading-all-text">Frequently Asked Questions (FAQ)</h3>
  				<hr>
  			</div>
  			<div class="content-pane">
  				<div class="row">
		
		<!--<div class="container-inside">-->
		<!--<div class="sentence-title">-->
		<!--	<h3>FAQ</h3>-->
		<!--</div>-->
		
		<div class="cd-faq-items">
  <ul id="basics" class="cd-faq-group">
    <!-- <li class="cd-faq-title"><h2>Basics</h2></li> -->
    <li>
      <a class="cd-faq-trigger" href="#0">How do I sign up?</a>
      <div class="cd-faq-content">
        <p>Its an easy task. Just click the singn up button from the top right corner of homepage and there will appear a signup page. After that fill up the required filled and just remember that the password length must be minimum 8 characters.</p>
      </div> <!-- cd-faq-content -->
    </li>

    <li>
      <a class="cd-faq-trigger" href="#0">How do I edit my profile?</a>
      <div class="cd-faq-content">
        <p>First of all you need to signin with your email and password. Then you will find a drop-down button at the top right corner of the page. Click it. You will find a setting option there. Select that option. An edit profile will be appeared. Now you can edit your existing profile information and click the save button to update your profile.</p>
      </div> <!-- cd-faq-content -->
    </li>

    <li>
      <a class="cd-faq-trigger" href="#0">Can I change my dp?</a>
      <div class="cd-faq-content">
        <p>First of all you need to signin with your email and password. Then you will find a drop-down button at the top right corner of the page. Click it. You will find a setting option there. Select that option. An edit profile will be appeared. You will find a upload profile photo option under the account setting. Choose your profile photo by clicking the "choose file" button and click "upload" button to change your profile photo.</br>Tips: Try to select square shape photo for better view.</p>
      </div> <!-- cd-faq-content -->
    </li>

    <li>
      <a class="cd-faq-trigger" href="#0">How do I view my profile?</a>
      <div class="cd-faq-content">
        <p>Sign in to your account. Click the profile icon at top right corner. Thats it, you will see your profile.</p>
      </div> <!-- cd-faq-content -->
    </li>
  </ul> <!-- cd-faq-group -->


</div> <!-- cd-faq-items -->

  </div>
		
			
	</div>

		
		
		
		
		
	</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/jquery-ui-git.js"></script>

<script src="/views/player/js/player.js"></script>
<script src="/views/player/js/jquery-2.1.1.js"></script>
<script src="/views/player/js/jquery.mobile.custom.min.js"></script>
<script src="/views/player/js/main.js"></script> <!-- Resource jQuery -->

</html>