<!DOCTYPE html>
<html>
<head>
	<title>Signup | Luv Music</title>
	<link rel="stylesheet" type="text/css" href="css/signinStyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<body>

	<div class="header">
		<a href="index.html">Luv Music</a>
		<hr>
	</div>

	<div class="section">
		
		<div class="login-notice-section">
			<!-- error message -->
			<p class="error-message" id="error-message"></p>
			<h1>Register</h1> or
			<a href="login.html">login here</a>
		</div>

		<form class="forms" method="POST" name="vform">
			<span>Full Name</span>
			<input type="text" name="name" placeholder="Your name">
			<span>Email</span>
			<input type="email" name="email" placeholder="Email">
			<span>Username</span>
			<input type="text" name="username" placeholder="Username">
			<span>Password</span>
			<input type="password" name="password" placeholder="Password">
			<span>Confirm Password</span>
			<input type="password" name="confirm_password" placeholder="Confirm password">
			<span>City</span>
			<input type="text" name="city" placeholder="City">
			<span>Country</span>
			<input type="text" name="country" placeholder="Country">
			<button id="signup" type="submit">Sign up</button>

		</form>
		<div class="content-container" style="display: none;">
			
		</div>

	</div>


</body>
</html>